@import 'tailwindcss';

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	background-color: #f5f8ff;
	overflow: hidden;
}
.err-content {
	background-image: url('/notFoundBackground.png');
}

.err-text {
	font-family: 'Rubik', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	color: #565872;
	font-size: 2.5rem;
}

.backHome {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.signInUpWrapper {
	background-image: url('/auth/authenticationBg.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.authHeading {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-size: 3rem;
}

.authPar {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.regBtn {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.loadingComp {
	--left-border: -100%;
	--right-border: 190%;
	background-color: rgba(255, 255, 255, 0.312);
	backdrop-filter: blur(5);
}

.loadingComp::after {
	content: '';
	width: 150%;
	height: 5px;
	z-index: 100;
	background-color: white;
	position: absolute;
	top: 60%;
	left: -20%;
	rotate: -45deg;
	box-shadow: 0px 0px 5px 5px white;
	animation: loadingMove 5s infinite linear;
}

@keyframes loadingMove {
	0% {
		top: var(--left-border);
		opacity: 1;
	}
	20% {
		top: var(--right-border);
		opacity: 0;
	}
	30% {
		top: var(--left-border);
		opacity: 1;
	}
	50% {
		top: var(--right-border);
		opacity: 0;
	}

	60% {
		top: var(--left-border);
		opacity: 1;
	}
	100% {
		top: var(--right-border);
		opacity: 0;
	}
}

header {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

.menu-wrapper {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.pfp-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid white;
}

.menu a {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 1.2rem;
}

.menu li {
	width: 85%;
	height: 60px;
	/* border: 2px solid black; 	*/
	display: flex;
	align-items: center;
	padding: 17px;
	cursor: pointer;
	border-radius: 15px;
	transition: 0.2s;
	user-select: none;
}

.menu li:hover {
	color: #ff6767;
	background-color: white;
	filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.485));
}

.dashboard-wrapper {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.todoWrapper {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.354);
	border-radius: 15px;
}

.todo-section,
.completedSection {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.todo-section::-webkit-scrollbar,
.completedSection::-webkit-scrollbar {
	display: none;
}

.todo-text {
	max-height: 80px;
	word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.taskStatusWrapper {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.354);
	border-radius: 15px;
}

.completedTaskWrapper {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.354);
	border-radius: 15px;
}

.progressBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.statusIcon {
	position: absolute;
	width: 10px;
	height: 10px;
	left: -15px;
	bottom: 6px;
	border-radius: 50%;
}

.addNewTaskHeading::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 80%;
	border-radius: 15px;
	height: 3px;
	background-color: #f24e1e;
}

.createTaskForm {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
